@import 'assets/litera-bootstrap.min.css';

body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}
