<div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>

<div *ngIf="!job">Loading</div>

<div *ngIf="job">
    <h2 *ngIf="job">Job {{ job.name }}</h2>

    <div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/job', job.id, 'view', 'summary' ]">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/job', job.id, 'view', 'execution' ]">Execution</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/job', job.id, 'view', 'graph' ]">Graph</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/job', job.id, 'view', 'raw' ]">Raw</a>
        </li>
        <li *ngIf="job.runSubJobsPolicy" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/job', job.id, 'view', 'sub-jobs' ]">Sub jobs</a>
        </li>
        <li *ngIf="job.runDependentJobPolicies && job.runDependentJobPolicies.length" class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/job', job.id, 'view', 'dependent-jobs' ]">Dependent jobs</a>
        </li>
    </ul>

    <div *ngIf="tab == 'summary'">
        <div class="row">
            <div class="col-3">
                Id:
            </div>
            <div class="col-6">
                {{job.id}}
            </div>
        </div>
        <div *ngIf="job?.parentId" class="row">
            <div class="col-3">
                Parent Id:
            </div>
            <div class="col-6">
                <a [routerLink]="['/job', job.parentId, 'view' ]">{{job.parentId}}</a>
            </div>
        </div>
        <div *ngIf="!job?.parentId" class="row">
            <div class="col-3">
                Template Id:
            </div>
            <div class="col-6">
                <a [routerLink]="['/template', job.templateId, 'view' ]">{{job.templateId}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Name:
            </div>
            <div class="col-6">
                {{job.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Payload:
            </div>
            <div class="col-6">
                {{job.payload | json }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Created At:
            </div>
            <div class="col-6">
                <time-ago [date]="job.createdAt"></time-ago>
            </div>
        </div>

        <h3 class="mt-4">Runner: </h3>
        <runner-list *ngIf="job.runner" [runner]="job.runner"></runner-list>

        <h3 class="mt-4">Polices: </h3>
        <show-exclusive-policy *ngIf="job.exclusivePolicy" [policy]="job.exclusivePolicy"></show-exclusive-policy>
        <show-grace-period-policy *ngIf="job.gracePeriodPolicy" [policy]="job.gracePeriodPolicy"></show-grace-period-policy>
        <show-retry-failed-policy *ngIf="job.retryFailedPolicy" [policy]="job.retryFailedPolicy"></show-retry-failed-policy>
        <show-run-sub-jobs-policy *ngIf="job.runSubJobsPolicy" [policy]="job.runSubJobsPolicy"></show-run-sub-jobs-policy>
        <ng-container *ngIf="job">
            <policy-show-run-dependent-job *ngFor="let policy of job.runDependentJobPolicies" [policy]="policy"></policy-show-run-dependent-job>
        </ng-container>
    </div>

    <div *ngIf="tab == 'execution'">
        <job-execution-tab [job]="job" [subJobs]="subJobs"></job-execution-tab>
    </div>
    <div *ngIf="tab == 'graph'">
        <h4>Flow graph:</h4>
        <job-flow-graph *ngIf="job" [jobId]="job.id" [updatedAt]="job.updatedAt"></job-flow-graph>
        <ng-container *ngIf="job && job.runDependentJobPolicies && job.runDependentJobPolicies.length">
            <h4>Dependent Flow graph:</h4>
            <job-dependent-flow-graph [updatedAt]="job.createdAt.unix" [jobId]="job.id"></job-dependent-flow-graph>
        </ng-container>
        <h4>State graph:</h4>
        <job-state-graph *ngIf="job" [jobId]="job.id" [updatedAt]="job.updatedAt"></job-state-graph>
    </div>
    <div *ngIf="tab === 'raw'">
        <prettyjson [obj]="job"></prettyjson>
    </div>

    <div *ngIf="tab === 'sub-jobs'">
        <job-list [jobs]="subJobs" [viewButton]="true"></job-list>
    </div>

    <div *ngIf="tab === 'dependent-jobs'">
        <job-list [jobs]="dependentJobs" [viewButton]="true"></job-list>
    </div>
</div>
