<div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>

<div *ngIf="!jobTemplate">Loading</div>

<div *ngIf="jobTemplate">
  <h2>Template {{ jobTemplate.name }} <job-run-now [jobTemplate]="jobTemplate" (onRunFailed)="onRunFailed($event)" (onRunSucceeded)="onRunSucceeded($event)"></job-run-now></h2>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/template', jobTemplate.templateId, 'view', 'summary' ]">Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/template', jobTemplate.templateId, 'view', 'graph' ]">Graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/template', jobTemplate.templateId, 'view', 'timeline' ]">Timeline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/template', jobTemplate.templateId, 'view', 'chart' ]">Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/template', jobTemplate.templateId, 'view', 'raw' ]">Raw</a>
    </li>
  </ul>

  <div class="clearfix mb-3"></div>

  <div *ngIf="tab == 'summary'">
    <div class="row">
      <div class="col-3">
        Template Id:
      </div>
      <div class="col-6">
        {{jobTemplate.templateId}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Name:
      </div>
      <div class="col-6">
        {{jobTemplate.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Payload:
      </div>
      <div class="col-6">
        {{jobTemplate.payload | json }}
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        Created At:
      </div>
      <div class="col-6">
        <time-ago [date]="jobTemplate.createdAt"></time-ago>
      </div>
    </div>

    <h3 class="mt-4">Triggers: </h3>
    <template-triggers *ngIf="jobTemplate" [template]="jobTemplate"></template-triggers>

    <h3 class="mt-4">Runner: </h3>
    <runner-list *ngIf="jobTemplate.runner" [runner]="jobTemplate.runner"></runner-list>

    <h3 class="mt-4">Polices: </h3>
    <show-exclusive-policy *ngIf="jobTemplate.exclusivePolicy" [policy]="jobTemplate.exclusivePolicy"></show-exclusive-policy>
    <show-grace-period-policy *ngIf="jobTemplate.gracePeriodPolicy" [policy]="jobTemplate.gracePeriodPolicy"></show-grace-period-policy>
    <show-retry-failed-policy *ngIf="jobTemplate.retryFailedPolicy" [policy]="jobTemplate.retryFailedPolicy"></show-retry-failed-policy>
    <show-run-sub-jobs-policy *ngIf="jobTemplate.runSubJobsPolicy" [policy]="jobTemplate.runSubJobsPolicy"></show-run-sub-jobs-policy>
    <policy-show-sub-job *ngIf="jobTemplate.subJobPolicy" [policy]="jobTemplate.subJobPolicy"></policy-show-sub-job>
    <ng-container *ngIf="jobTemplate">
      <policy-show-run-dependent-job *ngFor="let policy of jobTemplate.runDependentJobPolicies" [policy]="policy"></policy-show-run-dependent-job>
    </ng-container>
  </div>

  <div *ngIf="tab == 'graph'">
    <h4>Flow graph:</h4>
    <job-flow-graph *ngIf="jobTemplate" [updatedAt]="jobTemplate.createdAt.unix" [jobTemplateId]="jobTemplate.templateId"></job-flow-graph>
    <ng-container *ngIf="jobTemplate && jobTemplate.runDependentJobPolicies.length">
      <h4>Dependent Flow graph:</h4>
      <job-dependent-flow-graph [updatedAt]="jobTemplate.createdAt.unix" [jobTemplateId]="jobTemplate.templateId"></job-dependent-flow-graph>
    </ng-container>

    <h4>State graph:</h4>
    <job-state-graph *ngIf="jobTemplate" [updatedAt]="jobTemplate.createdAt.unix" [jobTemplateId]="jobTemplate.templateId"></job-state-graph>
  </div>

  <div *ngIf="tab === 'timeline'">
    <timeline [jobTemplateId]="jobTemplate.templateId"></timeline>
  </div>

  <div *ngIf="tab === 'chart'">
    <template-view-chart [jobTemplate]="jobTemplate"></template-view-chart>
  </div>

  <div *ngIf="tab == 'raw'">
    <prettyjson [obj]="jobTemplate"></prettyjson>
  </div>
</div>