<div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>

<div *ngIf="!jobTemplate">Loading</div>

<div *ngIf="jobTemplate">
  <h2>Template {{ jobTemplate.name }}</h2>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/template', jobTemplate.templateId, 'view', 'summary' ]">Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/template', jobTemplate.templateId, 'view', 'graph' ]">Graph</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/template', jobTemplate.templateId, 'view', 'timeline' ]">Timeline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/template', jobTemplate.templateId, 'view', 'raw' ]">Raw</a>
    </li>
  </ul>

  <job-run-now [jobTemplate]="jobTemplate" (onRunFailed)="onRunFailed($event)" (onRunSucceeded)="onRunSucceeded($event)"></job-run-now>

  <div *ngIf="tab == 'summary'">
    <p>Template Id: {{jobTemplate.templateId}}</p>
    <p>Process Template Id: {{jobTemplate.processTemplateId}}</p>
    <p>Name: {{jobTemplate.name}}</p>
    <p>Details: {{jobTemplate.details | json }}</p>
    <p>Created At: <time-ago [date]="jobTemplate.createdAt"></time-ago>

    <h3>Triggers: </h3>
    <list-triggers [triggers]="jobTemplate.triggers" [showRemove]="false"></list-triggers>

    <h3>Runner: </h3>
    <list-runner *ngIf="jobTemplate.runner" [runner]="jobTemplate.runner"></list-runner>

    <h3>Polices: </h3>
    <show-exclusive-policy *ngIf="jobTemplate.exclusivePolicy" [policy]="jobTemplate.exclusivePolicy"></show-exclusive-policy>
    <show-grace-period-policy *ngIf="jobTemplate.gracePeriodPolicy" [policy]="jobTemplate.gracePeriodPolicy"></show-grace-period-policy>
    <show-retry-failed-policy *ngIf="jobTemplate.retryFailedPolicy" [policy]="jobTemplate.retryFailedPolicy"></show-retry-failed-policy>
    <show-run-sub-jobs-policy *ngIf="jobTemplate.runSubJobsPolicy" [policy]="jobTemplate.runSubJobsPolicy"></show-run-sub-jobs-policy>
  </div>

  <div *ngIf="tab == 'graph'">
    <process-graph-image [processId]="jobTemplate.processTemplateId"></process-graph-image>
  </div>

  <div *ngIf="tab === 'timeline'">
    <timeline [jobTemplateId]="jobTemplate.templateId"></timeline>
  </div>

  <div *ngIf="tab == 'raw'">
    <prettyjson [obj]="jobTemplate"></prettyjson>
  </div>
</div>