<h1>New job</h1>

<div *ngIf="message" class="alert alert-danger" role="alert">{{ message }}</div>

<form (ngSubmit)="onSubmit()" #jobTemplateForm="ngForm" (change)="onFormChange()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="jobTemplate.name" name="name"
           #name="ngModel"
    >
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>
  </div>

  <div class="form-group">
    <label for="payload">Payload</label>
    <json-input [(ngModel)]="jobTemplate.payload" name="payload" id="payload"></json-input>
  </div>

  <h3>Triggers: </h3>
  <list-triggers (onRemoveTrigger)="onRemoveTrigger($event)" [triggers]="createJob.getTriggers()" [showRemove]="true"></list-triggers>

  <a class="nav-link" *ngIf="!addCronTrigger" (click)="triggerCronTrigger()" href="javascript:void(0)">Add cron trigger</a>
  <div *ngIf="addCronTrigger">
    <new-cron-trigger (onTriggerAdded)="onTriggerAdded($event)"></new-cron-trigger>
    <a (click)="triggerCronTrigger()" href="javascript:void(0)">Cancel</a>
  </div>

  <a class="nav-link" *ngIf="!addSimpleTrigger" (click)="triggerSimpleTrigger()" href="javascript:void(0)">Add simple trigger</a>
  <div *ngIf="addSimpleTrigger">
    <new-simple-trigger (onTriggerAdded)="onTriggerAdded($event)"></new-simple-trigger>
    <a (click)="triggerSimpleTrigger()" href="javascript:void(0)">Cancel</a>
  </div>

  <h3>Runner: </h3>
  <runner-list *ngIf="jobTemplate.runner" [runner]="jobTemplate.runner" (onRemoveRunner)="onRemoveRunner()"></runner-list>

  <a class="nav-link" *ngIf="!addQueueRunner && !jobTemplate.runner" (click)="triggerQueueRunner()" href="javascript:void(0)">Add queue runner</a>
  <div *ngIf="addQueueRunner">
    <runner-new-queue (onRunnerAdded)="onRunnerAdded($event)"></runner-new-queue>
    <a (click)="triggerQueueRunner()" href="javascript:void(0)">Cancel</a>
  </div>

  <a class="nav-link" *ngIf="!addHttpRunner && !jobTemplate.runner" (click)="triggerHttpRunner()" href="javascript:void(0)">Add http runner</a>
  <div *ngIf="addHttpRunner">
    <runner-new-http (onRunnerAdded)="onRunnerAdded($event)"></runner-new-http>
    <a (click)="triggerHttpRunner()" href="javascript:void(0)">Cancel</a>
  </div>

  <h3>Polices: </h3>
  <show-exclusive-policy *ngIf="jobTemplate.exclusivePolicy" [policy]="jobTemplate.exclusivePolicy" (onRemovePolicy)="onRemoveExclusivePolicy()"></show-exclusive-policy>
  <show-grace-period-policy *ngIf="jobTemplate.gracePeriodPolicy" [policy]="jobTemplate.gracePeriodPolicy" (onRemovePolicy)="onRemoveGracePeriodPolicy()"></show-grace-period-policy>
  <show-retry-failed-policy *ngIf="jobTemplate.retryFailedPolicy" [policy]="jobTemplate.retryFailedPolicy" (onRemovePolicy)="onRemoveRetryFailedPolicy()"></show-retry-failed-policy>
  <show-run-sub-jobs-policy *ngIf="jobTemplate.runSubJobsPolicy" [policy]="jobTemplate.runSubJobsPolicy" (onRemovePolicy)="onRemoveRunSubJobsPolicy()"></show-run-sub-jobs-policy>
  <policy-show-sub-job *ngIf="jobTemplate.subJobPolicy" [policy]="jobTemplate.subJobPolicy" (onRemovePolicy)="onRemoveSubJobPolicy()"></policy-show-sub-job>
  <ng-container *ngFor="let policy of jobTemplate.runDependentJobPolicies">
    <policy-show-run-dependent-job [policy]="policy" (onRemovePolicy)="onRemoveRunDependentJobPolicy($event)"></policy-show-run-dependent-job>
  </ng-container>

  <a class="nav-link" *ngIf="!addExclusivePolicy && !jobTemplate.exclusivePolicy" (click)="triggerExclusivePolicy()" href="javascript:void(0)">Add exclusive policy</a>
  <div *ngIf="addExclusivePolicy">
    <new-exclusive-policy (onPolicyAdded)="onExclusivePolicyAdded($event)"></new-exclusive-policy>
    <a (click)="triggerExclusivePolicy()" href="javascript:void(0)">Cancel</a>
  </div>

  <a class="nav-link" *ngIf="!addGracePeriodPolicy && !jobTemplate.gracePeriodPolicy" (click)="triggerGracePeriodPolicy()" href="javascript:void(0)">Add grace period policy</a>
  <div *ngIf="addGracePeriodPolicy">
    <new-grace-period-policy (onPolicyAdded)="onGracePeriodPolicyAdded($event)"></new-grace-period-policy>
    <a (click)="triggerGracePeriodPolicy()" href="javascript:void(0)">Cancel</a>
  </div>

  <a class="nav-link" *ngIf="!addRetryFailedPolicy && !jobTemplate.retryFailedPolicy" (click)="triggerRetryFailedPolicy()" href="javascript:void(0)">Add retry failed policy</a>
  <div *ngIf="addRetryFailedPolicy">
    <new-retry-failed-policy (onPolicyAdded)="onRetryFailedPolicyAdded($event)"></new-retry-failed-policy>
    <a (click)="triggerRetryFailedPolicy()" href="javascript:void(0)">Cancel</a>
  </div>

  <a class="nav-link" *ngIf="!addRunSubJobsPolicy && !jobTemplate.runSubJobsPolicy" (click)="triggerRunSubJobsPolicy()" href="javascript:void(0)">Add run sub jobs policy</a>
  <div *ngIf="addRunSubJobsPolicy">
    <new-run-sub-jobs-policy (onPolicyAdded)="onRunSubJobsPolicyAdded($event)"></new-run-sub-jobs-policy>
    <a (click)="triggerRunSubJobsPolicy()" href="javascript:void(0)">Cancel</a>
  </div>

  <a class="nav-link" *ngIf="!addSubJobPolicy && !jobTemplate.subJobPolicy" (click)="triggerSubJobPolicy()" href="javascript:void(0)">Add sub job policy</a>
  <div *ngIf="addSubJobPolicy">
    <policy-new-sub-job (onPolicyAdded)="onSubJobPolicyAdded($event)"></policy-new-sub-job>
    <a (click)="triggerSubJobPolicy()" href="javascript:void(0)">Cancel</a>
  </div>

  <a class="nav-link" *ngIf="!addRunDependentJobPolicy" (click)="triggerRunDependentJobPolicy()" href="javascript:void(0)">Add dependent job</a>
  <div *ngIf="addRunDependentJobPolicy">
    <policy-new-run-dependent-job (onPolicyAdded)="onRunDependentJobPolicyAdded($event)"></policy-new-run-dependent-job>
    <a (click)="triggerRunDependentJobPolicy()" href="javascript:void(0)">Cancel</a>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!jobTemplateForm.form.valid || submitted">Create job template</button>
</form>