<p *ngIf="!futureJobs || !doneJobs">Loading</p>

<div *ngIf="futureJobs && doneJobs">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr job-list-header-row></tr>
        </thead>
        <tbody>
            <tr job-list-row *ngFor="let job of futureJobs" [viewButton]="false" [job]="job"></tr>
            <tr><td colspan="6" class="text-center">Now</td></tr>
            <tr job-list-row *ngFor="let job of doneJobs" [viewButton]="true" [job]="job"></tr>
        </tbody>
    </table>
</div>
