<p *ngIf="!jobTemplates">Loading</p>

<div *ngIf="jobTemplates">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" routerLink="/job-templates/new" routerLinkActive="active">Create new</a>
        </li>
    </ul>

    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-inverse">
        <tr>
            <th>Id:</th>
            <th>Name:</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let jobTemplate of jobTemplates">
            <td>{{jobTemplate.templateId}}</td>
            <td>{{jobTemplate.name}}</td>
        </tr>
        </tbody>
    </table>
</div>