<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Job manager</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">

        <a routerLink="/timeline" routerLinkActive="active">Timeline</a>
      </li>

      <li class="nav-item">

        <a routerLink="/job" routerLinkActive="active">Jobs</a>
      </li>
    </ul>

  </div>
  <div class="pull-right">
    <button class="btn btn-success  my-2 my-sm-0" (click)="navigateToNewJob()">New Job</button>
  </div>
</nav>