<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#app-nav-bar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Job manager</a>

  <div class="collapse navbar-collapse" id="app-nav-bar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/timeline" routerLinkActive="active">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/template/list" routerLinkActive="active">Templates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/errors/late" routerLinkActive="active">Server Errors</a>
      </li>
      <li class="nav-item navbar-toggler-right">
        <a class="nav-link"  routerLink="/template/new" routerLinkActive="active">New Job</a>
      </li>
    </ul>

  </div>
</nav>
